body{
  color : white;
  background-color : black;
}

input{
  width : 80%;
  padding : 2%;
  border : none;
  border-bottom : solid;
  border-color : rgba(143,143,218,0.35);
  border-width : 1px;
  outline : 0;
  background-color:black;
  color : white;
  font-size : 100%;
}

#inputs ul{
  list-style :none;
  padding :0;
}

#inputs ul li{
  display:inline-block;
  margin-top: 3em;
}


body th,body td{
      width: 10%;
        border-bottom: solid;
/*   border-right: solid; */
    border-width: 1px;
    border-color: rgba(70, 72, 65, 0.84);
    padding: 0.9%;
    font-family: sans-serif;    
}
body th{
  
}
#btn-add{
  background-color: black;
    /* border-color: #455f45; */
    border: solid;
    padding: 1%;
    font-size: 1.6rem;
    font-family: monospace;
    border-radius: 5px;
    border-width: 1px;
    color: rgba(8, 95, 8, 0.98);
    font-weight: 600;
  
  outline:0;
  cursor : pointer;
  margin-top :2%;
}

/* body table td{
  
  padding: 0.3%;
    width: 20% ;
   
} */

#td-btn{
  border:none;
  width: 3%;
}

#confirm, #cancel{
  margin : 2%;
  padding:4%;
}

#table table button{
  background-color : black;
  border:none;
}

#table table button span{
  font-size : 1em;
  color :white;
  margin-right : 15px;
  outline: 0;
  cursor:pointer;
  
  
}



#initial-table{
  
      width: 95.3%;

}

table td{
  border-width: 2px;
    border-color: rgba(22, 60, 60, 0.50);
    padding : 0.7em;
}


